* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dashed ; */
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip2d {
    height: 500px;
    width: 400px;
    perspective: 1000px;
}

.flipcard2d {
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    line-height: 500px;
    font-size: 2rem;
    transform-style: preserve-3d;
    transition: 0.5s all ease;
}

.front,
.back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background-color: lightcoral;
}

.back {
    background-color: lightgreen;
    transform: rotateY(-180deg);
}

.flip2d:hover {
    .flipcard2d {
        transform: rotateY(180deg);
    }
}