* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dashed green; */
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    padding: 5px;
}

.container {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 2%;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 2%;
}

.Loverlay {
    display: flex;
    position: absolute;
    border-radius: 2%;
    background-color: rgba(9, 233, 47, 0.7);
    opacity: 0;
    transition: all 0.7s ease-out;
    height: 100%;
    top: 0;
    left: 0;
    width: 0;
}

.Roverlay {
    display: flex;
    position: absolute;
    border-radius: 2%;
    background-color: rgba(9, 233, 47, 0.7);
    opacity: 0;
    transition: all 0.7s ease-out;
    height: 100%;
    top: 0;
    right: 0;
    width: 0;
}

.Uoverlay {
    display: flex;
    position: absolute;
    border-radius: 2%;
    background-color: rgba(9, 233, 47, 0.7);
    opacity: 0;
    transition: all 0.7s ease-out;
    width: 100%;
    top: 0;
    height: 0;
}

.Boverlay {
    display: flex;
    position: absolute;
    border-radius: 2%;
    background-color: rgba(9, 233, 47, 0.7);
    opacity: 0;
    transition: all 0.7s ease-out;
    width: 100%;
    bottom: 0;
    height: 0;
}

.container:hover .Hoverlay {
    width: 100%;
    opacity: 1;
}

.container:hover .Voverlay {
    height: 100%;
    opacity: 1;
}

.text {
    margin: auto;
    font-size: 2rem;
    color: #fff;
}