* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dashed ; */
}

.tag {
    margin: 50px;
    height: 50px;
    width: 80px;
    background: #f00;
    color: #fff;
    font-size: 1.7rem;
    padding: 0 7px 0 0;
    display: flex;
    justify-content: end;
    align-items: center;
    clip-path: polygon(0% 40%, 20% 0%, 100% 0%, 100% 100%, 20% 100%, 0% 60%);
    border-radius: 5px;
    position: relative;
    transform: rotate(30deg);
}

.tag::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    left: 6px;
}

.flashlight {
    width: 80px;
    height: 30px;
    margin: 50px;
    background: #f00;
    border-radius: 10%/20%;
    position: relative;
}

.flashlight::before {
    content: "";
    position: absolute;
    width: 0;
    height: 30px;
    border-right: 20px solid yellow;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    left: 70px;
    top: -20px;
}


.flashlight::after {
    content: "";
    position: absolute;
    height: 70px;
    width: 10px;
    background: #f00;
    left: 90px;
    top: -20px;
}